.container.testimonials__container {
    padding-bottom: 0.5rem;
}

.client__avatar {
    width: 6rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 1rem;
    border: 0.4rem solid var(--color-primary-variant);
    transition: var(--transition);
    cursor: pointer;
}

.client__avatar:hover {
    transform: scale(1.3);
}

.testimonial {
    background: var(--color-bg-variant);
    text-align: center;
    padding: 2rem;
    border-radius: 2rem;
    user-select: none;
}

.client__name {
    font-size: 18px;
    color: var(--color-primary);
}

.client__puesto {
    font-size: 14px;
    color: var(--color-white);
    font-weight: 800;
}

.client__review {
    color: var(--color-light);
    font-weight: 300;
    display: block;
    margin: 15px 0;
}

.swiper-pagination-clickeable .swiper-pagination-bullet {
    background: var(--color-primary);
}

/* =============  MEDIA QUERIES (SMALL DEVICES)  =============*/
@media screen and (min-width: 600px) {
    .service-fix-desktop {
        margin-top: 220px;
    }
}