.experience__container {
    width: 100%;
    gap: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.experience__backend {
    width: 100%;
    background: var(--color-bg-variant);
    padding: 2rem 1rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.experience__backend:hover {
    background: transparent;
    border-color: var(--color-bg-variant);
    backdrop-filter: blur(2px);
    cursor: default;
}

.experience__backend h3 {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primary);
}

.experience__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}

.experience__details {
    display: flex;
    gap: 1rem;
}

.experience__details-icon {
    margin-top: 6px;
    color: var(--color-primary);
    margin: 4px -10px 0 18px;
}

@media screen and (max-width: 600px) {
    .section-fix {
        margin-top: 150px;
    }
}

/* =============  MEDIA QUERIES (SMALL DEVICES)  =============*/
@media screen and (min-width: 600px) {
    .experience__backend {
        width: 80%;
    }

    .experience__container {
        gap: 2rem;
    }

    .experience__container>div {
        padding: 2.4rem 5rem;
    }
}

/* =============  MEDIA QUERIES (MEDIUM DEVICES)  =============*/
@media screen and (min-width: 1024px) {
    .section-fix {
        margin-top: 0px;
    }
}

/* =============  MEDIA QUERIES (LARGE DEVICES)  =============*/
@media screen and (min-width: 1440px) {
    .experience__container {
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 0;
        row-gap: 8%;
        justify-items: center;
    }

    .experience__container>div {
        padding: 0 auto;
    }
}