.portfolio__container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin: 15px;
    justify-content: center;
}

.portfolio__item {
    background: var(--color-bg-variant);
    padding: 0.8rem;
    border-radius: 2.5rem;
    border: 1px solid transparent;
    transition: var(--transition);
    text-align: center;
}

.portfolio__item:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
    backdrop-filter: blur(2px);
}

.portfolio__item-image {
    border-radius: 2rem;
    overflow: hidden;
    transition: var(--transition);
}

.portfolio__item-image a img {
    transition: var(--transition);
}

.portfolio__item-image a img:hover {
    transform: scale(1.1);
}

.portfolio__item h3 {
    margin: 1.2rem 0 1.2rem;
}

.portfolio__item-cv {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    justify-content: center;
}

/* =============  MEDIA QUERIES (MEDIUM DEVICES)  =============*/
@media screen and (min-width: 600px) {
    .portfolio__container {
        grid-template-columns: repeat(2, 50%);
        gap: 1.2rem;
    }

    .portfolio-fix-desktop {
        margin-top: -100px;
    }
}

/* =============  MEDIA QUERIES (SMALL DEVICES)  =============*/
@media screen and (min-width: 1024px) {
    .portfolio__container {
        grid-template-columns: repeat(4, 20%);
        gap: 2rem;
    }
}